html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.Titulo {
    background-color: #30bfa3;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px #238c77;
    box-shadow: #b1b0b0 2px 5px 5px;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-shadow: 1px 1px 3px #b8e9fc;
}

.imagenHeader {
    width: 15%;
    height: auto;
}

.formulario {
    box-shadow: 0px 0px 8px 4px rgba(209,207,207,0.75);
    background-color: #f7f7f7;
    border-radius: 10px;
}

.tabla {
    border: solid 1px black;
}

.rdbLetras {
    font-size: larger;
}

.tituloTabla {
    background-color: #30bfa3;
    color: white;
}

.banner {
    width: 100%;
    height: auto;
}

.podio {
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;
    border: solid gold 2px;
}

.premioPodio {
    height: auto;
    width: 40%;
}