html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Titulo {
    background-color: #30bfa3;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px #238c77;
    box-shadow: #b1b0b0 2px 5px 5px;
}

.link{
    text-decoration: none;
}

.link:hover {
    text-shadow: 1px 1px 3px #b8e9fc;
}

#listaProductos {
    background-color: #f2f2f2;
    border-radius: 10px;
    border-width: 2px;
    border-style: groove;
    padding: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 12px;
}