@{
    ViewData["Title"] = "Access Denied";
}
<div class="d-flex mb-4">
    <img class="my-2 banner" src="~/media/Atention.webp"/>
</div>
<div class="container-lg d-flex flex-column-reverse flex-md-row justify-content-center justify-content-md-between align-items-center">
    <div>
        <h2><b>Acceso Denegado</b></h2>
        <h5>¡No tienes el permiso para poder acceder a esta pagina!</h5>
    </div>
    <img class="mb-3" src="~/media/Danger.webp" width="25%;"/>
</div>

<footer class="fixed-bottom   p-3">
    @if (@User.HasClaim("User","True"))
    {
        <a asp-controller="User" asp-action="Index" class="btn btn-secondary align-items-center"><h3><i class="bi bi-arrow-return-left me-3"></i>Volver a Inicio</h3></a>
    }else{
        <a asp-controller="Juez" asp-action="Index" class="btn btn-secondary align-items-center"><h3><i class="bi bi-arrow-return-left me-3"></i>Volver a Inicio</h3></a>
    }   
</footer>