@{
    ViewData["Title"] = "Información";
}
<div class="container-lg d-flex flex-row flex-sm-row-reverse align-items-center justify-content-center justify-content-md-between flex-wrap mb-4">
    <img class="my-2 mb-1" src="~/media/logoCIT.webp"/>
    <div class="align-self-center">
        <h2 class="text-center text-md-start"><b>Colegio Técnico Profesional CIT</b></h2>
        <h3 class="text-center text-md-start">ExpoCIT | Información</h3>
    </div>
</div>
<div class="container-lg d-flex flex-column">
    <h4 class="mb-1"><b>Descripción de la aplicación</b></h4>
    <h5>El propósito de esta aplicación es el de facilitar el proceso de calificación de proyectos y automatizar todo el proceso de elección de ganadores.</h5>
    <br />
    <h4 class="mb-1"><b>Desarrolladores</b></h4>
    <h5><i class="bi bi-person-video me-4"></i>Josué Ramírez, Supervisor</h5>
    <h5><i class="bi bi-terminal me-4"></i>Andrés Bolaños Víquez, Programador</h5>
    <h5><i class="bi bi-terminal me-4"></i>Timoteo Rider Sweeney, Programador</h5>
    <h5 class="mt-1">Nivel: Duódecimo</h5>
</div>

<footer class="fixed-bottom border-top footer text-muted p-3 d-flex flex-row-reverse justify-content-around flex-wrap">
    <div class="d-flex flex-row flex-wrap mb-2">
        <h5>CopyRight ©2022&nbsp;</h5>
        <h5>- Todos los derechos reservados</h5>
    </div>
    <a asp-action="LoginJuez" class="btn btn-secondary align-items-center"><h3><i class="bi bi-arrow-return-left me-3"></i>Volver</h3></a>
</footer>