@{
    ViewData["Title"] = "Pagina Principal";
}
<div class="container-md my-2">
    <h2>Pagina Principal</h2>
</div>
<div class="container-md d-flex justify-content-center">
    <img class="my-2" src="~/media/logoCIT.webp"/>
</div>
<div class="container-md d-flex flex-column flex-md-row justify-content-center justify-content-md-around gap-5 mt-4">
    <a class="btn btn-success btn-lg" id="FormProyecto" asp-action="ProyectosEI">Proyectos de ExpoIngenería</a>
    <a class="btn btn-success btn-lg" id="FormTrabajoEscrito" asp-action="ProyectosEJ">Proyectos de ExpoJovem</a>
</div>
<div class="container-md d-flex justify-content-center mt-5">
    <a class="btn btn-warning btn-lg text-white" asp-action="Ganadores">Proyectos Ganadores</a>
</div>