@model RPEI;
@{
    ViewData["Title"] = "ProyectoExpoIngeneria";
}

<div class="d-flex justify-content-evenly" style="max-height: 150px;">
    <img class="my-2 imagenHeader" src="~/media/logoDetce.webp"/>
    <img class="my-2 imagenHeader" src="~/media/logoExpoIngenieria.webp"/>
</div>
<div class=" mt-2 p-4 container-lg formulario">
    <h2>ExpoIngenería</h2>
    <h2 class=" mt-1 mb-5">FORMULARIO PARA LA EVALUACIÓN DE LOS PROYECTOS</h2>
    <form>
        <div class="container">
            <div class="row">
                <div class="col-lg-auto py-2">
                    <h5>Código:</h5>
                </div>
                <div class="col-lg py-2">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.Proyecto.Id">  
                </div>
            </div>
            <div class="row">
                <div class="col-lg-auto py-2">
                    <h5>Nombre del proyecto:</h5>
                </div>
                <div class="col-lg py-2">
                    <input type="text" readonly class="form-control-plaintext">  
                </div>
            </div>
            <div class="row">
                <div class="col-lg-auto py-2">
                    <h5>Nombre de los estudiantes:</h5>
                </div>
                <div class="col-lg py-2">
                    <textarea readonly class="form-control-plaintext" rows="4"></textarea>  
                </div>
            </div>
        </div>
        <div class="container tabla">
            <div class="row">
                <div class="col-lg py-2">
                    <h3><b>ASPECTOS POR EVALUAR</b></h3>
                </div>
            </div>
            <div class="row tituloTabla">
                <div class="col-lg py-2 tabla">
                    <h4><b>I.  Planteamiento del problema</b><br />Cada aspecto vale 2 ptos. Total 10 pts.</h4>
                </div>
                <div class="col-lg-2 py-2 tabla">
                    <h4>Puntos asignados</h4>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <h4>Observaciones</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>a. Evidencia fase previa o de exploración para plantear el problema.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="AARadio0" value="0" name="AARDB">
                          <label class="form-check-label" for="AARadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="AARadio1" value="1" name="AARDB">
                          <label class="form-check-label" for="AARadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="AARadio2" value="2" name="AARDB">
                          <label class="form-check-label" for="AARadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>b. Claridad en la definición del problema.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ABRadio0" value="0" name="ABRDB">
                          <label class="form-check-label" for="ABRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ABRadio1" value="1" name="ABRDB">
                          <label class="form-check-label" for="ABRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ABRadio2" value="2" name="ABRDB">
                          <label class="form-check-label" for="ABRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>c.  Identifica el impacto del proyecto.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ACRadio0" value="0" name="ACRDB">
                          <label class="form-check-label" for="ACRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ACRadio1" value="1" name="ACRDB">
                          <label class="form-check-label" for="ACRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ACRadio2" value="2" name="ACRDB">
                          <label class="form-check-label" for="ACRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>d. Los objetivos están bien definidos.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ADRadio0" value="0" name="ADRDB">
                          <label class="form-check-label" for="ADRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ADRadio1" value="1" name="ADRDB">
                          <label class="form-check-label" for="ADRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ADRadio2" value="2" name="ADRDB">
                          <label class="form-check-label" for="ADRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>e. Definición de los criterios que fundamentan la solución propuesta.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="AERadio0" value="0" name="AERDB">
                          <label class="form-check-label" for="AERadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="AERadio1" value="1" name="AERDB">
                          <label class="form-check-label" for="AERadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="AERadio2" value="2" name="AERDB">
                          <label class="form-check-label" for="AERadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>Subtotal</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input type="text" readonly class="form-control-plaintext" id="Asubtotal" value="0">
                </div>
            </div>
            @*-----------------------------------------------------------------------------------------------------------*@
            <div class="row tituloTabla">
                <div class="col-lg py-2 tabla">
                    <h4><b>II.  Justificación del proyecto</b><br />Cada aspecto vale 3 ptos. Total 18 pts.</h4>
                </div>
                <div class="col-lg-3 py-2 tabla">
                    <h4>Puntos asignados</h4>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <h4>Observaciones</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>a. El proyecto responde a una necesidad evidente.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BARadio0" value="0" name="BARDB">
                          <label class="form-check-label" for="BARadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BARadio1" value="1" name="BARDB">
                          <label class="form-check-label" for="BARadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BARadio2" value="2" name="BARDB">
                          <label class="form-check-label" for="BARadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BARadio3" value="3" name="BARDB">
                          <label class="form-check-label" for="BARadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>b. Se identifican los grupos beneficiados.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BBRadio0" value="0" name="BBRDB">
                          <label class="form-check-label" for="BBRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BBRadio1" value="1" name="BBRDB">
                          <label class="form-check-label" for="BBRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BBRadio2" value="2" name="BBRDB">
                          <label class="form-check-label" for="BBRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BBRadio3" value="3" name="BBRDB">
                          <label class="form-check-label" for="BBRadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>c. El proyecto es factible de ser realizado.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BCRadio0" value="0" name="BCRDB">
                          <label class="form-check-label" for="BCRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BCRadio1" value="1" name="BCRDB">
                          <label class="form-check-label" for="BCRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BCRadio2" value="2" name="BCRDB">
                          <label class="form-check-label" for="BCRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BCRadio3" value="3" name="BCRDB">
                          <label class="form-check-label" for="BCRadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>d. Es aplicable y tiene un buen nivel de uso potencial.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BDRadio0" value="0" name="BDRDB">
                          <label class="form-check-label" for="BDRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BDRadio1" value="1" name="BDRDB">
                          <label class="form-check-label" for="BDRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BDRadio2" value="2" name="BDRDB">
                          <label class="form-check-label" for="BDRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BDRadio3" value="3" name="BDRDB">
                          <label class="form-check-label" for="BDRadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>e. Realiza un aporte en el campo de estudio.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BERadio0" value="0" name="BERDB">
                          <label class="form-check-label" for="BERadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BERadio1" value="1" name="BERDB">
                          <label class="form-check-label" for="BERadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BERadio2" value="2" name="BERDB">
                          <label class="form-check-label" for="BERadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BERadio3" value="3" name="BERDB">
                          <label class="form-check-label" for="BERadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>f. Identifica el impacto potencial en el campo de la ciencia, sociedad, economía o el ambiente.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BFRadio0" value="0" name="BFRDB">
                          <label class="form-check-label" for="BFRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BFRadio1" value="1" name="BFRDB">
                          <label class="form-check-label" for="BFRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BFRadio2" value="2" name="BFRDB">
                          <label class="form-check-label" for="BFRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="BFRadio3" value="3" name="BFRDB">
                          <label class="form-check-label" for="BFRadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 py-2 tabla">
                    <h5>Subtotal</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input type="text" readonly class="form-control-plaintext" id="Bsubtotal" value="0">
                </div>
            </div>
            @*-----------------------------------------------------------------------------------------------------------*@
            <div class="row tituloTabla">
                <div class="col-lg py-2 tabla">
                    <h4><b>III.  Originalidad y creatividad del proyecto</b><br />Cada aspecto vale 2 ptos. Total 10 pts.</h4>
                </div>
                <div class="col-lg-2 py-2 tabla">
                    <h4>Puntos asignados</h4>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <h4>Observaciones</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>a. Demuestra que el desarrollo es de elaboración propia.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CARadio0" value="0" name="CARDB">
                          <label class="form-check-label" for="CARadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CARadio1" value="1" name="CARDB">
                          <label class="form-check-label" for="CARadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CARadio2" value="2" name="CARDB">
                          <label class="form-check-label" for="CARadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>b. El proyecto es una innovación y lo demuestra.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CBRadio0" value="0" name="CBRDB">
                          <label class="form-check-label" for="CBRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CBRadio1" value="1" name="CBRDB">
                          <label class="form-check-label" for="CBRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CBRadio2" value="2" name="CBRDB">
                          <label class="form-check-label" for="CBRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>c. Muestra actualidad tecnológica o nuevo conocimiento científico o técnico.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CCRadio0" value="0" name="CCRDB">
                          <label class="form-check-label" for="CCRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CCRadio1" value="1" name="CCRDB">
                          <label class="form-check-label" for="CCRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CCRadio2" value="2" name="CCRDB">
                          <label class="form-check-label" for="CCRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>d. Identifica una solución.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CDRadio0" value="0" name="CDRDB">
                          <label class="form-check-label" for="CDRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CDRadio1" value="1" name="CDRDB">
                          <label class="form-check-label" for="CDRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CDRadio2" value="2" name="CDRDB">
                          <label class="form-check-label" for="CDRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>e. Desarrollo de un prototipo/modelo/producto.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CERadio0" value="0" name="CERDB">
                          <label class="form-check-label" for="CERadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CERadio1" value="1" name="CERDB">
                          <label class="form-check-label" for="CERadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="CERadio2" value="2" name="CERDB">
                          <label class="form-check-label" for="CERadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>Subtotal</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input type="text" readonly class="form-control-plaintext" id="Csubtotal" value="0">
                </div>
            </div>
            @*-----------------------------------------------------------------------------------------------------------*@
            <div class="row tituloTabla">
                <div class="col-lg py-2 tabla">
                    <h4><b>IV.  Fundamento teórico</b><br />Cada aspecto vale 2 ptos. Total 12 pts.</h4>
                </div>
                <div class="col-lg-2 py-2 tabla">
                    <h4>Puntos asignados</h4>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <h4>Observaciones</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>a. Demuestra apropiación (familiaridad y capacidad de manejo)  de los contenidos  que fundamentan el proyecto.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DARadio0" value="0" name="DARDB">
                          <label class="form-check-label" for="DARadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DARadio1" value="1" name="DARDB">
                          <label class="form-check-label" for="DARadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DARadio2" value="2" name="DARDB">
                          <label class="form-check-label" for="DARadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>b. Define los conceptos que utiliza de manera clara y precisa.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DBRadio0" value="0" name="DBRDB">
                          <label class="form-check-label" for="DBRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DBRadio1" value="1" name="DBRDB">
                          <label class="form-check-label" for="DBRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DBRadio2" value="2" name="DBRDB">
                          <label class="form-check-label" for="DBRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>c. Presenta una síntesis apropiada de lo que se conoce del tema en estudio.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DCRadio0" value="0" name="DCRDB">
                          <label class="form-check-label" for="DCRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DCRadio1" value="1" name="DCRDB">
                          <label class="form-check-label" for="DCRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DCRadio2" value="2" name="DCRDB">
                          <label class="form-check-label" for="DCRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>d. Presenta diseños y esquemas claros y correctos.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DDRadio0" value="0" name="DDRDB">
                          <label class="form-check-label" for="DDRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DDRadio1" value="1" name="DDRDB">
                          <label class="form-check-label" for="DDRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DDRadio2" value="2" name="DDRDB">
                          <label class="form-check-label" for="DDRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>e. Fundamenta todas las demostraciones y cálculos necesarios.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DERadio0" value="0" name="DERDB">
                          <label class="form-check-label" for="DERadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DERadio1" value="1" name="DERDB">
                          <label class="form-check-label" for="DERadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DERadio2" value="2" name="DERDB">
                          <label class="form-check-label" for="DERadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>f. Muestra documentación de apoyo (referencias información extraída).</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DFRadio0" value="0" name="DFRDB">
                          <label class="form-check-label" for="DFRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DFRadio1" value="1" name="DFRDB">
                          <label class="form-check-label" for="DFRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="DFRadio2" value="2" name="DFRDB">
                          <label class="form-check-label" for="DFRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>Subtotal</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input type="text" readonly class="form-control-plaintext" id="Dsubtotal" value="0">
                </div>
            </div>
            @*-----------------------------------------------------------------------------------------------------------*@
            <div class="row tituloTabla">
                <div class="col-lg py-2 tabla">
                    <h4><b>V. Metodología</b><br />Cada aspecto vale 3 ptos. Total 18 pts. </h4>
                </div>
                <div class="col-lg-3 py-2 tabla">
                    <h4>Puntos asignados</h4>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <h4>Observaciones</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>a. Selección de instrumentos (modelos, programas de computación, equipos y otros) y métodos adecuados.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EARadio0" value="0" name="EARDB">
                          <label class="form-check-label" for="EARadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EARadio1" value="1" name="EARDB">
                          <label class="form-check-label" for="EARadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EARadio2" value="2" name="EARDB">
                          <label class="form-check-label" for="EARadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EARadio3" value="3" name="EARDB">
                          <label class="form-check-label" for="EARadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>b. Describe la metodología utilizada para la obtención de posibles soluciones.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EBRadio0" value="0" name="EBRDB">
                          <label class="form-check-label" for="EBRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EBRadio1" value="1" name="EBRDB">
                          <label class="form-check-label" for="EBRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EBRadio2" value="2" name="EBRDB">
                          <label class="form-check-label" for="EBRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EBRadio3" value="3" name="EBRDB">
                          <label class="form-check-label" for="EBRadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>c. Cumplimiento de las etapas planificadas en el diseño del proyecto.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ECRadio0" value="0" name="ECRDB">
                          <label class="form-check-label" for="ECRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ECRadio1" value="1" name="ECRDB">
                          <label class="form-check-label" for="ECRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ECRadio2" value="2" name="ECRDB">
                          <label class="form-check-label" for="ECRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="ECRadio3" value="3" name="ECRDB">
                          <label class="form-check-label" for="ECRadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>d. Hace un uso óptimo de los recursos.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EDRadio0" value="0" name="EDRDB">
                          <label class="form-check-label" for="EDRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EDRadio1" value="1" name="EDRDB">
                          <label class="form-check-label" for="EDRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EDRadio2" value="2" name="EDRDB">
                          <label class="form-check-label" for="EDRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EDRadio3" value="3" name="EDRDB">
                          <label class="form-check-label" for="EDRadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>e. Describe las metodologías de evaluación y perfeccionamiento.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EERadio0" value="0" name="EERDB">
                          <label class="form-check-label" for="BERadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EERadio1" value="1" name="EERDB">
                          <label class="form-check-label" for="BERadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EERadio2" value="2" name="EERDB">
                          <label class="form-check-label" for="BERadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EERadio3" value="3" name="EERDB">
                          <label class="form-check-label" for="BERadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>f. Identifica posibles puntos de riesgo.</h5>
                </div>
                <div class="col-lg-3 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EFRadio0" value="0" name="EFRDB">
                          <label class="form-check-label" for="EFRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EFRadio1" value="1" name="EFRDB">
                          <label class="form-check-label" for="EFRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EFRadio2" value="2" name="EFRDB">
                          <label class="form-check-label" for="EFRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="EFRadio3" value="3" name="EFRDB">
                          <label class="form-check-label" for="EFRadio3">3</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 py-2 tabla">
                    <h5>Subtotal</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input type="text" readonly class="form-control-plaintext" id="Esubtotal" value="0">
                </div>
            </div>
            @*-----------------------------------------------------------------------------------------------------------*@
            <div class="row tituloTabla">
                <div class="col-lg py-2 tabla">
                    <h4><b>VI.  Discusión,interpretación y análisis</b><br />Cada aspecto vale 2 ptos. Total 16 pts.</h4>
                </div>
                <div class="col-lg-2 py-2 tabla">
                    <h4>Puntos asignados</h4>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <h4>Observaciones</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>a. Coherencia de los objetivos con los resultados obtenidos.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FARadio0" value="0" name="FARDB">
                          <label class="form-check-label" for="FARadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FARadio1" value="1" name="FARDB">
                          <label class="form-check-label" for="FARadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FARadio2" value="2" name="FARDB">
                          <label class="form-check-label" for="FARadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>b. Realiza análisis de los resultados.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FBRadio0" value="0" name="FBRDB">
                          <label class="form-check-label" for="FBRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FBRadio1" value="1" name="FBRDB">
                          <label class="form-check-label" for="FBRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FBRadio2" value="2" name="FBRDB">
                          <label class="form-check-label" for="FBRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>c. Los resultados (o el producto) tienen aplicación o utilidad en la vida real.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FCRadio0" value="0" name="FCRDB">
                          <label class="form-check-label" for="FCRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FCRadio1" value="1" name="FCRDB">
                          <label class="form-check-label" for="FCRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FCRadio2" value="2" name="FCRDB">
                          <label class="form-check-label" for="FCRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>d. Congruencia de los datos, tablas, diagramas y gráficos con el tema investigado.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FDRadio0" value="0" name="FDRDB">
                          <label class="form-check-label" for="FDRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FDRadio1" value="1" name="FDRDB">
                          <label class="form-check-label" for="FDRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FDRadio2" value="2" name="FDRDB">
                          <label class="form-check-label" for="FDRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>e. Sugiere posibles aplicaciones del desarrollo obtenido (innovación).</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FERadio0" value="0" name="FERDB">
                          <label class="form-check-label" for="FERadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FERadio1" value="1" name="FERDB">
                          <label class="form-check-label" for="FERadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FERadio2" value="2" name="FERDB">
                          <label class="form-check-label" for="FERadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>f. Coherencia de los diseños y esquemas con respecto al prototipo/modelo/producto presentado.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FFRadio0" value="0" name="FFRDB">
                          <label class="form-check-label" for="FFRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FFRadio1" value="1" name="FFRDB">
                          <label class="form-check-label" for="FFRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FFRadio2" value="2" name="FFRDB">
                          <label class="form-check-label" for="FFRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>g. Prototipo/modelo/producto ha sido probado en varias condiciones/ensayos.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FGRadio0" value="0" name="FGRDB">
                          <label class="form-check-label" for="FGRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FGRadio1" value="1" name="FGRDB">
                          <label class="form-check-label" for="FGRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FGRadio2" value="2" name="FGRDB">
                          <label class="form-check-label" for="FGRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>h. Prototipo/modelo/producto demuestra conocimientos de ingeniería y coherencia.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FHRadio0" value="0" name="FHRDB">
                          <label class="form-check-label" for="FHRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FHRadio1" value="1" name="FHRDB">
                          <label class="form-check-label" for="FHRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="FHRadio2" value="2" name="FHRDB">
                          <label class="form-check-label" for="FHRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>Subtotal</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input type="text" readonly class="form-control-plaintext" id="Fsubtotal" value="0">
                </div>
            </div>
            @*-----------------------------------------------------------------------------------------------------------*@
            <div class="row tituloTabla">
                <div class="col-lg py-2 tabla">
                    <h4><b>VII.  Presentación e interacción del proyecto</b><br />Cada aspecto vale 2 ptos. Total 12 pts.</h4>
                </div>
                <div class="col-lg-2 py-2 tabla">
                    <h4>Puntos asignados</h4>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <h4>Observaciones</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>a. El cartel apoya la comunicación en forma fluida.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GARadio0" value="0" name="GARDB">
                          <label class="form-check-label" for="GARadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GARadio1" value="1" name="GARDB">
                          <label class="form-check-label" for="GARadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GARadio2" value="2" name="GARDB">
                          <label class="form-check-label" for="GARadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>b. El material expuesto tiene relación con el trabajo de investigación.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GBRadio0" value="0" name="GBRDB">
                          <label class="form-check-label" for="GBRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GBRadio1" value="1" name="GBRDB">
                          <label class="form-check-label" for="GBRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GBRadio2" value="2" name="GBRDB">
                          <label class="form-check-label" for="GBRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>c. Claridad de las ideas durante la presentación.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GCRadio0" value="0" name="GCRDB">
                          <label class="form-check-label" for="GCRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GCRadio1" value="1" name="GCRDB">
                          <label class="form-check-label" for="GCRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GCRadio2" value="2" name="GCRDB">
                          <label class="form-check-label" for="GCRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>d. Presenta  una organización lógica de las ideas (contenido claro y específico).</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GDRadio0" value="0" name="GDRDB">
                          <label class="form-check-label" for="GDRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GDRadio1" value="1" name="GDRDB">
                          <label class="form-check-label" for="GDRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GDRadio2" value="2" name="GDRDB">
                          <label class="form-check-label" for="GDRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>e. Capacidad de síntesis para llevar a cabo la comunicación.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GERadio0" value="0" name="GERDB">
                          <label class="form-check-label" for="GERadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GERadio1" value="1" name="GERDB">
                          <label class="form-check-label" for="GERadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GERadio2" value="2" name="GERDB">
                          <label class="form-check-label" for="GERadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>f. La presentación refleja el esfuerzo coordinado de los integrantes del equipo.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GFRadio0" value="0" name="GFRDB">
                          <label class="form-check-label" for="GFRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GFRadio1" value="1" name="GFRDB">
                          <label class="form-check-label" for="GFRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="GFRadio2" value="2" name="GFRDB">
                          <label class="form-check-label" for="GFRadio2">2</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>Subtotal</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input type="text" readonly class="form-control-plaintext" id="Gsubtotal" value="0">
                </div>
            </div>
            @*-----------------------------------------------------------------------------------------------------------*@
            <div class="row tituloTabla">
                <div class="col-lg py-2 tabla">
                    <h4><b>VIII.  Presentación documentación adicional del proyecto</b><br />Cada aspecto vale un punto.  Total 4 pts.</h4>
                </div>
                <div class="col-lg-2 py-2 tabla">
                    <h4>Puntos asignados</h4>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <h4>Observaciones</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>a. Exhibe en su stand la bitácora con los datos requeridos.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="HARadio0" value="0" name="HARDB">
                          <label class="form-check-label" for="HARadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="HARadio1" value="1" name="HARDB">
                          <label class="form-check-label" for="HARadio1">1</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>b. Muestra las fechas en las que realizó experimentos.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="HBRadio0" value="0" name="HBRDB">
                          <label class="form-check-label" for="HBRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="HBRadio1" value="1" name="HBRDB">
                          <label class="form-check-label" for="HBRadio1">1</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>c. Evidencia mediciones, diagramas, figuras, cuadros, dibujos.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="HCRadio0" value="0" name="HCRDB">
                          <label class="form-check-label" for="HCRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="HCRadio1" value="1" name="HCRDB">
                          <label class="form-check-label" for="HCRadio1">1</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>d.  Evidencia la aplicación de algún tipo de estadística, sumas, porcentajes, entre otros.</h5>
                </div>
                <div class="col-lg-2 py-2 tabla d-flex flex-column justify-content-around align-items-center">
                    <h6>Puntos asignados</h6>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="HDRadio0" value="0" name="HDRDB">
                          <label class="form-check-label" for="HDRadio0">0</label>
                        </div>
                        <div class="form-check form-check-inline rdbLetras">
                          <input class="form-check-input" type="radio" disabled id="HDRadio1" value="1" name="HDRDB">
                          <label class="form-check-label" for="HDRadio1">1</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="3" placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>Subtotal</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input type="text" readonly class="form-control-plaintext" id="Hsubtotal" value="0">
                </div>
            </div>
            @*-----------------------------------------------------------------------------------------------------------*@
            <div class="row tituloTabla">
                <div class="col-lg py-2 tabla d-flex justify-content-around align-items-center">
                    <h5>Puntaje total (100)</h5>
                    <h5>Puntaje obtenido:</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input type="text" readonly class="form-control-plaintext" id="total" value="0">
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>Recomendaciones para la mejora del proyecto</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <textarea class="form-control-plaintext" readonly rows="5" placeholder="Escribe aquí"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>Nombre del juez</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input class="form-control-plaintext" readonly type="text" placeholder="Escribe aquí">  
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>Fecha</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input class="form-control-plaintext" readonly type="date" placeholder="Escribe aquí">
                </div>
            </div>
            <div class="row">
                <div class="col-lg py-2 tabla">
                    <h5>Firma del juez</h5>
                </div>
                <div class="col-lg py-2 tabla">
                    <input class="form-control-plaintext" readonly type="text" placeholder="Escribe aquí">
                </div>
            </div>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-lg">Enviar Formulario</button>
        </div>
    </form>
</div>